.App {
  text-align: center;
}

.body {
  background-image: url('./components/Img/homeworkRAM.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}
