.App {
  text-align: center;
}

.body {
  background-image: url('C:\Users\Franc\OneDrive\Desktop\rick_and_morty\src\components\Img\fondoweb_rick_and_morty.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}
